<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Slabo+27px" rel="stylesheet"/>
    <style>

        html, body {
            padding: 0;
            margin: 0;
        }

        .logo {
            text-align: center;
            font-size: 2em;
            position: relative;
            top: 15px;
        }

        .jumbotron {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .logo .title {
            font-family: 'Roboto', sans-serif;
            display: inline-block;
            position: relative;
            top: 5px;
            left: 5px;
            font-size: 105%;
        }

        .container {
            width: 70% !important;
        }

        .body {
            text-align: center;
            background: white;
            padding: 20px 10% 20px 10%;
            border: 1px solid #DFE1E5;
            margin: 6% auto 0 auto;
            max-width: 700px;
        }

        p.content {
            font-size: 1.3em;
            font-family: 'Slabo 27px', serif;
            margin-top: 10%;
            font-weight: bold;
            padding-left: 5%;
            padding-right: 5%;
        }

        .body h3 {
            font-size: 1.9em;
            padding: 0;
        }

        hr {
            width: 70%;
        }

        a {
            margin: 7% auto;
        }

        .btn {
            padding: 2% 5%;
            font-size: 100%
        }

        .footer {
            margin-top: 15%;
            font-size: 0.8em !important;
            color: rgba(0, 0, 0, 0.5) !important;
        }

    </style>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="logo text-center"><img src="http://122.176.232.149:4000/resetPassword/src/logo/logo.png" alt="Logo"
                                           width="10%">
            <div class="title">STUDENT DASHBOARD</div>
        </div>
        <div class="body">
            <h3>Password Reset</h3>
            <hr/>
            <p class="content">If you've lost your password or wish to reset it, use the link below to get started.</p>
            <a href={{linkToReset}} class="btn btn-primary">Reset Your Password</a>
            <p class="footer">If you did not request a password reset, you can safely ignore this email. Only a person
                with access to your email can reset your account password.</p>
        </div>
    </div>
</div>
</body>
</html>