body {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

.jumbotron {
	height: 90%;
	margin: 0;
	padding: 0;
	display: flex;
}

.report-select {
	width: 50% !important;
	margin-top: 6%;
	margin-bottom: 6% !important;
	margin-left: 25% !important;
	background: #212121 !important;
	border-radius: 8px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
							0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width:767px) {
	.report-select {
		margin-bottom: 10% !important;
	}
}

.report-select * {
	color: white !important;
	font-family: 'Source Sans Pro' !important;
	letter-spacing: 1px;
	margin-left: 2px;
}

.report-body {
	font-family: "Source Sans Pro" !important;
}

.report-header > * {
	color: white !important;
	font-family: 'Roboto Condensed' !important;
	font-size: 1.1em !important;
	letter-spacing: 1px;
}

.table-row > * {
	font-size: 0.9em !important;
}

.container.report {
	width: 80% !important;
	padding: 0 !important;
}

@media only screen and (max-width:767px){
	.container.report {
		width: 100% !important;
	}
}

.forgot-btn.back {
	text-decoration: none;
}

.forgot-btn {
	opacity: 0.6;
	color: black;
	text-decoration: underline;
	cursor: pointer;
	font-family: 'Source Sans Pro';
}

.form .submit {
	border: none;
	margin-top: 8%;
	background: #263238;
	color: white;
	width: 70%;
	height: 8%;
	min-height: 20px;
	font-size: 1.2em;
	letter-spacing: 0.01em;
	font-family: 'Roboto Condensed'
}

.checkbox {
	margin: 2px auto 0 auto !important;
	width: 70% !important;
}

.checkbox div {
	margin: auto !important;
	display: block !important;
}

.form hr {
	margin: 10px auto 0 auto!important;
	border-top: 1px solid rgba(102, 102, 102, 0.5) !important;
	width: 90%;
}

.text-input {
	padding: 0 !important;
	font-size: 1.2em !important;
	letter-spacing: 0.1em;

}

.text-input input {
	color: black !important;
	font-weight: 500 !important;
	letter-spacing: 1px;
	font-size: 1.2em !important;
}

hr.hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.form-head {
	font-size: 2em;
	font-family: 'Roboto Condensed';
}

.login {
	width: 100%;
	height: 100% !important;
	background: #133751;
	display: flex;
}

.form {
	background: #00BCD4;
	margin: auto;
	text-align: center;
	padding: 2% 5%;
	border-top: 10px solid #212121;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
							0 10px 10px rgba(0,0,0,0.22);
}

.panel-body .body div:nth-of-type(4) {
  color: #6a737d;
  margin-top: 3%;
}

.panel-body .body div:nth-of-type(2), .panel-body .body div:nth-of-type(3) {
  display: flex;
  margin-top: 0.6em;
}

.panel-body .body div:nth-of-type(2) div, .panel-body .body div:nth-of-type(3) div {
  font-size: 0.9em;
  font-family: Roboto;
  margin-top: 2.5px;
  margin-left: 0.5em;
}
.panel-body .body > div:nth-of-type(1) {
  font-size: 1.8em;
  font-weight: 500;
  font-family: Roboto;
}

.panel-body {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.panel-body .img {
  flex: 1;
}

.panel-body .body > * {
  margin-left: 5%;
}

.panel-body .body {
  width: 60%;
  flex: 4;
  margin-left: 5%;
  border-left: 1px solid #EEEEEE;
}

.drawerFooter {
  margin : 0 !important;
  padding: 0 !important;
  text-align: center;
}

.menuItem{
  color: #212121 !important;
  background: #00BCD4 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.3em !important;
  border-bottom: 1px solid #00838F !important;
  transition: 0.35s all;
  font-weight: 600 !important;
  height: 30px;
}

.menuItem:hove {
  background: #B388FF !important;
  color: #00BCD4 !important;
}

.badges {
  margin-top: 18% !important;
  padding: 0 !important;
}

.badges > span {
  width: 16px !important;
  height: 16px !important;
  color: white !important;
  background: #00181B !important;
}

.badgeD {
  margin-top: 13px !important;
  padding: 0 !important;
}

.badgeD *, .flatD  * {
  font-weight: 500 !important;
}

.notification > span {
  left: 17% !important;
  top: -12% !important;
}

.notificationM > span {
  left: 55% !important;
}

.message > span {
  left: 27% !important;
  top: -12% !important;
}


.flatM {
  margin-top: 18% !important;
}

.flatD {
  margin-top: 13px !important;
}

.mobileIcon {
  position: relative !important;
  left: 40% !important;
}
