
  html, body {
    padding: 0;
    margin: 0;
  }

  .logo {
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 15px;
  }

  .jumbotron {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .logo .title {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 105%;
  }

  .container {
    width: 70% !important;
  }

  .body {
    text-align: center;
    background: white;
    padding: 20px 10% 20px 10%;
    border: 1px solid #DFE1E5;
    margin: 6% auto 0 auto;
    max-width: 700px;
  }

  p.content {
    font-size: 1.3em;
    font-family: 'Slabo 27px', serif;
    margin-top: 10%;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
  }

  .body h3 {
    font-size: 1.9em;
    padding: 0;
  }

  hr {
    width: 70%;
  }

  a{
    margin: 7% auto;
  }

  .btn {
    padding: 2% 5%;
    font-size: 100%
  }

  .footer{
    margin-top: 15%;
    font-size: 0.8em !important;
    color: rgba(0, 0, 0, 0.5) !important;
  }
